@import url(./reset.css);
:root{
    --button : #dd5347;
    --bgcolor : #fafafa;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    background-color: #ffff;
    align-items: center;
    box-shadow: 0 2px 6px #0000001f,inset 0 -1px #dadce0;
  }
  header figure{
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  header figure img{
    width: 100%;
  }
  header h1{
    font-size: 2.3rem;
    margin-left: 5px;
    color: #62666B;
    font-weight: 400;
  }
  header nav{
    position: absolute;
    right: 0;
  }
  header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul li{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    transition: .3s ease-in-out;
  
  }

  
  header nav ul .connect-acc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--button);
    color: #ffff;
  }

  .login {
    padding-top: 80px;
  }
  .login h2{
    width: 600px;
  }

  .login form fieldset {
    border-radius: 5px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login form legend{
    font-size: 2.3rem;
    font-weight: 300;
  }

  .login form label{
    font-size: 1.7rem;
  }
  .login form input{
    width: 95%;
    height: 30px;
    background-color: #F8F5F5;
    border: solid 1px #d1d0d0 ;
    border-radius: 5px;
  }
  .login form button{
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 20px;
    background-color: #1A73E8;
    font-size: 1.6rem;
    height: 40px;
    color: #ffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .login form input{
    font-size: 1.7rem;
  }
